body{
    
}

#banner{
    width: 100%
}

.principal{
    background-color: #CCCCCC;
    padding: 20px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: red;
}

.beneficios{
    background-color: #ffffff;
}

h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 50px;
}

.itens{
    font-style: italic;
}

.img-beneficios{
    width: 50%;
}



