.botao3 {
    background: linear-gradient(pink, purple);
    display: inline-block;
    height: 60px;
    line-height: 70px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 25px;
    box-shadow: 5px 5px 0px;
    font-family: monospace;
    position: absolute;
    top: 10px;
    left: 300px;
}



.botao2 {
    background: linear-gradient(pink, purple);
    display: inline-block;
    height: 60px;
    line-height: 70px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 25px;
    box-shadow: 5px 5px 0px;
    font-family: monospace;}

.botao1 {
    background: linear-gradient(pink, purple);
    display: inline-block;
    height: 60px;
    line-height: 70px;
    line-height: 60px;
    padding-left: 40px;
    padding-right: 45px;
    box-shadow: 5px 5px 0px;
    font-family: monospace;
    position: absolute;
    left: 200px;}

.botao { 
    color: black;
    position: absolute;
    top: 0px;
    left: 10px;}
        
.botao1:hover {
    transform: scale(1.2);
    cursor: grabbing;
    transition: all 0.5s;}
    
.botao2:hover {
    transform: scale(1.2);
    cursor: grabbing;
    transition: all 0.5s;}