h1 {
    text-align: center;
    color: orangered;
    font-size: 105px;
    font-family: arial;}
  
    h3 {
    font-family: Cambria, Georgia, serif;
    font-size: 20px;
    color: white;
    text-align: center;}
    
  
    html {
        background-color: black;}
    
