@media (max-width: 810px){
    body{
        max-width: 800px;
        margin: auto;
        
        
        
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        text-align: left;
    }

    main{
        display: flex;
        flex-direction: column;
        
    }

    p{
        max-width: 400px;
    }

    .info{
        margin-left: 0;
        margin-right: 20px;
    }
    
    

    li{
        padding-left: 0px;
        padding-right: 10px;
    }

    ul{
        padding-left: 0px;
    }

    img{
        width: 400px;
        height: 300px;
    }

    h2{
        text-align: left;
    }
}

