body{
    background-color: rgb(34, 34, 34);
    color: white;
    
    
    
}

header{
    font-size: 25px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    
}

h1{
    line-height: 10px;
    flex-direction: column;
    font-weight: 100;
    font-family: monospace;

}

main{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: space-between;
    padding-right: 100px;
    

}

hr{
    margin-bottom: 0px;
}

span li{
    display: inline-block;
    margin-top: 0;
    border: 2px solid rgb(161, 20, 161);
    padding: 15px;
    border-radius: 15px;
}

.info{
    margin-left: 20px;
}

a{
    color: white;
    font-family: monospace;
    
}

h2{
    text-align: left;
    line-height: 10px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

p{
    margin-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    
}


.itens{
    margin-left: 0px;
    color: rgb(161, 20, 161);
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h2 span{
    color: darkorchid
}

img{
    margin-left: 15px;
}

@media screen and (max-width: 760px){
    body{
        max-width: 800px;
        
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        text-align: left;
    }

    main{
        display: flex;
        flex-direction: column;
        
    }

    p{
        max-width: 400px;
    }

    .info{
        margin-left: 0;
        margin-right: 20px;
    }
    
    

    li{
        padding-left: 0px;
        padding-right: 10px;
    }

    ul{
        padding-left: 0px;
    }

    img{
        width: 400px;
        height: 300px;
    }
}



